# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
django=1.10.1=py35_0
freetype=2.5.5=1
jbig=2.1=0
jpeg=8d=1
libpng=1.6.22=0
libtiff=4.0.6=2
mkl=11.3.3=0
numpy=1.11.1=py35_0
openssl=1.0.2i=0
pillow=3.3.1=py35_0
pip=8.1.2=py35_0
python=3.5.2=0
pyyaml=3.12=py35_0
readline=6.2=2
setuptools=27.2.0=py35_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.29.0=py35_0
xz=5.2.2=0
yaml=0.1.6=0
zlib=1.2.8=3
